<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- java built-in -->
        <typeAlias alias="Boolean"     type="java.lang.Boolean" />
        <typeAlias alias="Integer"     type="java.lang.Integer" />
        <typeAlias alias="Long"        type="java.lang.Long" />
        <typeAlias alias="String"      type="java.lang.String" />
        <typeAlias alias="HashMap"     type="java.util.HashMap" />
        <typeAlias alias="ArrayList"   type="java.util.ArrayList" />

        <!-- cn.lj.pdl.model -->
        <typeAlias alias="UserDO"      type="cn.lj.pdl.model.UserDO" />
        <typeAlias alias="DatasetDO"   type="cn.lj.pdl.model.DatasetDO" />
        <typeAlias alias="ImageDO"     type="cn.lj.pdl.model.ImageDO" />
        <typeAlias alias="AlgoTrainDO" type="cn.lj.pdl.model.AlgoTrainDO" />
        <typeAlias alias="AlgoDeployDO" type="cn.lj.pdl.model.AlgoDeployDO" />
    </typeAliases>
</configuration>